<template>
  <div class="flex justify-between px-4 mt-4 sm:px-8">
    <div class="flex">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <h2 class="text-2xl text-gray-600">Visual Surveillance</h2>
    </div>

    <div class="flex items-center space-x-1 text-xs">
      <router-link to="/" class="font-bold text-indigo-700">Home</router-link>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
      <span class="text-gray-600">Visual Surveillance</span>
    </div>
  </div>

  <div class="p-4 sm:px-8 sm:py-4">
    <div class="p-4 bg-white rounded">
        <gmap/>
    </div>
  </div>
</template>

<script>
import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue'
import Gmap from '@/components/map/Gmap.vue'

export default {
  components: {
    Menu,
    MenuButton,
    MenuItems,
    MenuItem,
    Gmap
  },

  // setup() {
  //   const selectAll = ref(false)

  //   return {
  //     userList,
  //     selectAll,
  //   }
  // },
}
</script>
