<template>
    <div class="flex justify-between px-4 mt-4 sm:px-8">
        <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
        <h2 class="text-2xl text-gray-600">Profile</h2>
        </div>

        <div class="flex items-center space-x-1 text-xs">
        <a href="#" class="font-bold text-indigo-700">Home</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
        <span class="text-gray-600">Profile</span>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 px-4 mt-8 sm:grid-cols-5 sm:px-8">
        <div class="bg-white border rounded-lg shadow sm:col-span-3">
            <user-information/>
        </div>

        <div class="bg-white border rounded-lg shadow sm:col-span-2">
            <change-password/>
        </div>
    </div>
</template>

<script>
import ChangePassword from '@/components/ChangePassword.vue'
import UserInformation from '@/components/UserInformation.vue'

export default {
    components: {
        ChangePassword,
        UserInformation
    },
}
</script>
