<template>
    <div class="flex justify-between items-center px-4 py-2 mb-2 border-b-2 text-gray-600">
        <h3 class="tracking-wider">Change Password</h3>
    </div>
    <div v-if="message" :class="message.success ? 'border px-4 py-3 rounded relative mx-4 bg-green-100 border-green-400 text-green-700' : 'border px-4 py-3 rounded relative mx-4 bg-red-100 border-red-400 text-red-700'" role="alert">
        <strong v-if="message.success == true" class="font-bold">Success! </strong>
        <strong v-if="message.success == false" class="font-bold">Failed! </strong>
        <span class="block sm:inline"> {{message.message}}</span>
    </div>
    <div class="px-4 pt-4">
        <Form ref="form" @submit="changePassword" :validation-schema="schema">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    Current Password
                </label>
                <Field 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                type="password" 
                v-model="currentpassword" 
                name="currentpassword"
                placeholder ="********"/>
                <ErrorMessage name="currentpassword" class="text-red-500 text-xs italic error-feedback" />
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    New Password
                </label>
                <Field 
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                type="password" 
                v-model="newpassword" 
                name="newpassword"
                placeholder ="********"/>
                <ErrorMessage name="newpassword" class="text-red-500 text-xs italic " />
                </div>
            </div>
            <div class="flex flex-wrap -mx-3">
                <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    Confirm Password
                </label>
                <Field
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                type="password" 
                v-model="confirmpassword" 
                name="confirmpassword"
                placeholder ="********"/>
                <ErrorMessage name="confirmpassword" class="text-red-500 text-xs italic " />
                </div>
            </div>

            <button class="flex items-center bg-blue-500 p-2 text-white rounded text-sm hover:bg-blue-600 mb-4 float-right my-4">
            Change Password
            </button>
        </Form>
    </div>
</template>

<script>
import UserService from '@/services/user.service'
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
    components: {
        Form,
        Field,
        ErrorMessage
    },

    data() {
        const schema = yup.object().shape({
            currentpassword: yup.string().required("Current Password is required"),
            newpassword: yup.string().required("New Password is required"),
            confirmpassword: yup.string().required("Confirm Password is required").oneOf([yup.ref('newpassword'), null], 'Passwords must match'),
        });
        return {
            iduser: this.$store.state.auth.user.id_user,
            currentpassword : "",
            newpassword : "",
            confirmpassword : "",
            message: "",
            schema,
        }
    },

    methods: {
        changePassword() {
            var data = {
                id_user: this.iduser,
                currentpassword : this.currentpassword,
                newpassword : this.newpassword,
                confirmpassword : this.confirmpassword
            }
            
            UserService.changePassword(data)
            .then(response => {
                this.message = response.data;
                this.resetForm();
            })
            .catch(error => {
                this.message = error.response.data
                this.resetForm();
            });
        },
        resetForm(){
            this.$refs.form.setValues({
                currentpassword : "",
                newpassword : "",
                confirmpassword : "",
            });
        }
    },

    mounted() {
        this.iduser = this.$store.state.auth.user.id_user
    }
}
</script>