<template>
    <div class="flex justify-between items-center px-4 py-2 mb-2 border-b-2 text-gray-600">
        <h3 class="tracking-wider">User Information</h3>
    </div>
    <div class="px-4 pt-4">
        <form class="w-full">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" v-model="name">
                <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                </div>
                <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    UserName
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" v-model="username">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Email
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" v-model="email">
                <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                </div>
                <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Gender</label>
                    <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" v-model="gender">
                    <!-- <option v-for="(options, index) in optionsValue" :key="options.index">{{optionsValue.value}}</option> -->
                    <option value="L" :selected="gender == 'L' ? true : false">Laki-Laki</option>
                    <option value="P" :selected="gender == 'P' ? true : false">Perempuan</option>
                    </select>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 ">
                <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    Address
                </label>
                <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" rows="4" v-model="address"></textarea>
                </div>
            </div>

            <button @click="update" class="flex items-center bg-blue-500 p-2 text-white rounded text-sm hover:bg-blue-600 mb-4 float-right">
            Update Info
            </button>
        </form>
    </div>
</template>

<script>
import UserService from '@/services/user.service'

export default {
    data() {
        return {
            name : "",
            username : "",
            email : "",
            gender : "",
            address : "",
        }
    },

    computed: {
        currentUser() {
            return this.$store.state.auth.user.id_user;
        },
    },

    methods: {
        update() {
            var data = {
                name : this.name,
                username : this.username,
                email : this.email,
                gender : this.gender,
                address : this.address
            }
            
            UserService.updateProfile(this.currentUser, data)
            .then(response => {
                console.log(response.data);
            })
            .catch(e => {
                console.log(e);
            });
        }
    },

    mounted() {
        UserService.getUser(this.currentUser).then(
        (response) => {
            this.name = response.data.data.name;
            this.username = response.data.data.username;
            this.email = response.data.data.email;
            this.gender = response.data.data.gender;
            this.address = response.data.data.address;
        },
        (error) => {
            this.content =
            (error.response &&
                error.response.data &&
                error.response.data.message) ||
            error.message ||
            error.toString();
        }
        );
    }
}
</script>