<template>
  <div class="flex justify-between px-4 mt-4 sm:px-8">
    <div class="flex">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <h2 class="text-2xl text-gray-600">Field Agent Mobile Assistant (Last 7 Days Report)</h2>
    </div>

    <div class="flex items-center space-x-1 text-xs">
      <router-link to="/" class="font-bold text-indigo-700">Home</router-link>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
      <span class="text-gray-600">Field Agent Mobile Assistant</span>
    </div>
  </div>

  <div class="p-4 sm:px-8 sm:py-4">
    <div class="p-4 bg-white rounded" >
        <gmap/>
    </div>
  </div>
</template>

<script>
import userList from '@/data/users/userList.json'
import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue'
import { ref } from 'vue'
import Gmap from '@/components/map/Gmap.vue'

export default {
  components: {
    Menu,
    MenuButton,
    MenuItems,
    MenuItem,
    Gmap
  },

  // setup() {
  //   const selectAll = ref(false)

  //   return {
  //     userList,
  //     selectAll,
  //   }
  // },
}
</script>
